ADMIN_LOGIN_EMAIL=jethro@admin.com
ADMIN_LOGIN_PASSWORD=Jethro@admin
ADMIN_SESSION_SECRET=Hecares4me!
RESEND_API_KEY=your_resend_api_key
CONTACT_TO_EMAIL=your_inbox@example.com
CONTACT_FROM_EMAIL=your_verified_sender@yourdomain.com