ADMIN_LOGIN_EMAIL=jethro@admin.com
ADMIN_LOGIN_PASSWORD=Jethro@admin
ADMIN_SESSION_SECRET=Hecares4me!
RESEND_API_KEY=re_aqXsiy5L_EvRz7gxeQpYdW4XvBz5yadyJ
CONTACT_TO_EMAIL=adebisireuel@gmail.com
CONTACT_FROM_EMAIL=onboarding@resend.dev