ADMIN_LOGIN_EMAIL=jethro@admin.com
ADMIN_LOGIN_PASSWORD=jethro@admin
ADMIN_SESSION_SECRET=Hecares4me!
RESEND_API_KEY=re_Epd5H8Jj_FG3GtfrV2UGQZ48ari1Ztw7D
CONTACT_TO_EMAIL=adebisireuel@gmail.com
CONTACT_FROM_EMAIL=your_verified_sender@yourdomain.com